@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic');

body
{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 34%, rgba(113,15,107,1) 80%, rgba(104,3,147,1) 100%);
    overflow-x: hidden;
}

.flex-container
{
    display: flex;
    flex-direction: column;
}
header {
  position: relative;
top: -2vw;
left: 2vw;
margin-bottom: -4vw;
color: white;
font-family: 'Amatic SC', cursive;
font-size: 7vw;
font-weight: 400;
}
h1
{
  h1 {
  /* position: relative; */
  /* text-align: center; */
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 5vw;
  font-weight: 700;
  margin-left: 1vw;
  margin-top: -1vw;
}
}

p {
  font-family: 'Amatic SC', cursive;
  /* padding: 2vw; */
  color: white;
  font-size: 5vw;
  margin-top: 3vw;
}

h2
{
  margin-bottom: 53px;
margin-top: -44vw;
color: white;
font-weight: 700;
font-family: 'Amatic SC', cursive;
font-size: 32vw;
margin-left: 15vw;
/* margin-bottom: 7vw; */
}

h3 {
  h3 {
  font-size: 6vw;
  font-weight: 700;
  margin-top: 1vw;
  /* margin-left: 67px; */
  text-align: center;
  color: white;
}
a
{
    text-decoration: none;

    color: white;
}
ul {
  display: flex;
width: 30vw;
color: white;
font-family: 'Amatic SC', cursive;
font-weight: 400;
justify-content: space-between;
margin-top: -50vw;
}
li
{
    position: relative;
    top: 26vw;
    left: 2vw;

    margin-bottom: -4vw;

    color: white;
font-weight: 400;
  font-family: 'Amatic SC', cursive;
    font-size: 8vw;
}

.picturestexts
{
  margin-top: 5vw;
      justify-content: center;
}
.shaba
{
    top: -52vw;
    left: 3vw;

    width: 17vw;
    margin-left: 9vw;

    background: image;
}
.vk
{
    position: relative;
    top: 21vw;
    left: 22vw;

    width: 4vw;
    height: 10vw;
}

.knopka
{
    display: block;

    font-size: 4vw;
    font-weight: 700;
    /* margin: 411px; */
    width: 32vw;
    height: 4vw;
    margin-top: 21vw;
    margin-bottom: 11vw;
    padding: 4vw 3vw;
    transition: all .25s ease-in;
    text-align: center;
    text-decoration: none;

    color: #00c6ff;
    border: 1px solid #00c6ff;
    background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;

    font-family: 'Open Sans', sans-serif;
}

.vie:hover
{
    color: #fff;
    background-position: 0 0;
}
@media (min-width: 320vw) {

.endmenu {
    height: 96px;
}
header {
    top: -87px;
    left: 27px;
    font-size: 27px;
}
a {
      margin-right: 54px;
}
main {
    /* overflow: hidden; */
    /* padding-top: 708px; */
    /* flex-flow: column wrap; */
    /* align-items: center; */
}
.shaba {
    /* top: -520px; */
    /* left: 37px; */
    width: 313px;
    margin-left: 50px;
    background: image;
}
.oblochko
{

  width: 1053px;
 margin-top: -84px;
 margin-left: -3px;
}
}
@media (min-width: 1024px)
{
    h1
    {
      font-size: 77px;
margin-left: 60px;
font-family: 'Amatic SC', cursive;
font-weight: 700;
text-align: center;
color: white;
    }

    p
    {
      font-size: 53px;
height: 345px;
margin-bottom: 106px;
margin-right: 28px;

    }

    h2
    {
      font-size: 259px;
    font-weight: 700;
    margin-top: -401px;
    margin-bottom: 325px;
    margin-left: 274px;
    color: white;
    }

    h3 {
      font-size: 70px;
font-weight: 700px;
/* margin-left: -124px; */
  margin-bottom: 29px;
  margin-top: 13px;
font-family: 'Amatic SC', cursive;
}
    }
header {
  top: -254px;
      /* left: 135px; */
      font-size: 38px;
      font-weight: 700px;
      margin-left: 46px;
}
.info {
  margin-left: 109px;
    margin-right: 27px;
    /* margin-left: -84px; */

}

.stars {
  width: 955px;
      margin-left: 67px;
      margin-top: -155px;
}
    .box-nashalo
    {
        font-size: 30px;

        left: 30px;

        margin-left: 92px;
    }
a {
  margin-left: 32px;
font-weight: 700;
margin-right: 219px;

}
main {
      padding-top: 214px;

          flex-flow: column wrap;
          align-items: center;
      }
}
    li
    {
      font-size: 32px;
top: 91vw;
left: 74px;
margin-right: 76px;
font-weight: 700px;
}

    .picturestexts
    {
        display: grid;
        margin-left: 63px;

        grid-template-columns: 50px 20% min-content max-content 1fr 2fr auto;
        grid-template-rows: auto minmax(50px, 50vh) 4em;
        grid: repeat(6, 2fr) / repeat(6, 2fr);
    }
    .menu
    {
          height: 288px;
    margin-top: 125px;
    }

.endmenu {
        height: 288px;
}
.cat {
    margin-left: 37px;
}
    .ramka {
      margin-bottom: 53px;
      margin-left: 98px;
    }
    .shaba
    {
      top: -515px;
  left: 30px;
  width: 622px;
  margin-top: -235px;
  margin-bottom: -234px;
  margin-left: 195px;
    }

    .oblochko
    {

      width: 1053px;
     margin-top: -84px;
     margin-left: -3px;
    }
    .knopka
    {
      font-size: 4vw;
  font-weight: 700;
  /* margin: 411px; */
  width: 32vw;
  height: 4vw;
  margin-top: 21vw;
  margin-bottom: 11vw;
  padding: 4vw 3vw;
  border: 1px solid #00c6ff;
    }

    .vk
    {
      top: 406px;
left: 879px;
          width: 89px;
    }
}
@media (min-width: 768px)
{
  h1 {
  /* position: relative; */
  /* text-align: center; */
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 9vw;
  font-weight: 700;
  margin-left: 10vw;
  margin-top: -1vw;
}
    p {
        font-family: 'Amatic SC', cursive;
        padding: 1vw;
        color: white;
        font-size: 6vw;
        margin-bottom: 8vw;
        margin-top: 1vw;
    }

    h2 {
      margin-bottom: 5vw;
    margin-top: -44vw;
    color: white;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    font-size: 32vw;
    margin-left: 15vw;
    /* margin-bottom: 7vw; */
}

    h3 {
    font-size: 8vw;
  }
header {
  position: relative;
top: -34vw;
left: 10vw;
/* margin-bottom: -40vw; */
color: white;
font-family: 'Amatic SC', cursive;
font-size: 8vw;
font-weight: 400;
}
    li {
      font-size: 4vw;
          top: 88vw;
      left: 5vw;
  }
    .picturestexts {
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 200px 200px auto 200px 200px 200px auto 200px 200px auto;
    grid-gap: 25px;
    grid: repeat(2, 2fr) / repeat(2, 2fr);
    }
        .oblochko {
          width: 96vw;
margin-top: -47vw;
margin-left: 5vw;
    }

.info {
  text-align: center;
margin-left: 7vw;
/* margin-right: 31px; */
font-size: 6vw;
margin-bottom: 3vw;
}
.stars {
margin-left: 2vw;
margin-top: -14vw;
}
    main {
        /* overflow: hidden; */
        padding-top: 18vw;
        /* flex-flow: column wrap; */
        align-items: center;
    }
.ramka {
  width: 100px;
}
.cat {
width: 95vw;
}
.endmenu {
height: 28vw;
}
a {
  margin-right: 24vw;
/* margin-bottom: 21vw; */
/* top: -74px; */
/* left: 36px; */
font-size: 4vw;
}
.menu {
  height: 28vw;
      margin-top: 54vw;
}
    .shaba {
      width: 90vw;
  /* margin-top: -246px; */
  /* margin-bottom: -433px; */
  margin-left: 12vw;
}
    .panel1,
    .panel2,
    .panel3,
    .panel4,
    .panel5,
    .panel6,
    {
        grid-column: span 2;
    }

    .knopka
    {
margin: 255px;

    }
    .vk
    {
  top: 375vh;
  left: 646vh;
      width: 86vh;
    }
    .ramka {
      margin-bottom: 2vw;
margin-left: 10vw;
    width: 91vw;
    }
}
